<?xml version="1.0" encoding="UTF-8"?>

 <!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.marondal.welibrary.book.dao.BookDAO">
  
  	<select id = "selectBookListByTitle" resultType="com.marondal.welibrary.book.model.Book" parameterType="map" >
	  	SELECT
	  		`id`
	  		, `library`
			, `title`
			, `imagePath`
			, `author`
			, `publisher`
			, `price`
			, `isbn`
			, `pubyear`
			, `appendix`
			, `createdAt`
			, `updatedAt`
	  	FROM
	  		`book`
	  	WHERE 	
	  		`title` = #{title}
	  	ORDER BY `id` DESC;
  	</select>	
  		
  	<select id = "selectBookById" resultType="com.marondal.welibrary.book.model.Book" parameterType="int">
  	
  		SELECT
  			`id`
	  		, `library`
			, `title`
			, `imagePath`
			, `author`
			, `publisher`
			, `price`
			, `isbn`
			, `pubyear`
			, `appendix`
			, `createdAt`
			, `updatedAt`
  		FROM
  			`book`
  		WHERE
  			`id` = #{id}

  	
  	</select>
  
  
  
  
  </mapper>
  
