<?xml version="1.0" encoding="UTF-8"?>

 <!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.marondal.welibrary.book.dao.BookDAO">
  
  
  
  
  <!-- 희망도서 신청 -->
  <insert id="insertWishBook" parameterType="map">
  	INSERT INTO
  		`wish_book`
  		(
  			`userId`
  			, `library`
  			, `title`
  			, `imagePath`
  			, `author`
  			, `publisher`
  			, `price`
  			, `isbn`
  			, `pubdate`
  			, `createdAt` 
		    , `updatedAt`
  		)
  		
  		VALUES
  		(
  			#{userId}
  			, #{library}
  			, #{title}
  			, #{imagePath}
  			, #{author}
  			, #{publisher}
  			, #{price}
  			, #{isbn}
  			, #{pubdate}
  			, now()
			, now()
  		)
  	
  </insert>
  
  <select id= "selectWishBookList"  resultType="com.marondal.welibrary.book.model.WishBook" parameterType="map">
  	SELECT
  		`userId`
  		, `library`
  		, `title`
  		, `createdAt`
  		
  	FROM
  		`wish_book`
  	WHERE 
  		`userId` =#{userId}
  		AND `id` =#{id}
  </select>
  
  
  
  </mapper>
  
