<?xml version="1.0" encoding="UTF-8"?>

 <!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
   <mapper namespace="com.marondal.welibrary.book.borrow.dao.BorrowDAO">
   
   <!-- 대여 -->
   <insert id ="insertBorrow" parameterType="map" >
   	INSERT INTO
   		`borrow_book`
   		(
   			`userId`
  			, `bookId`
  			, `createdAt` 
		    , `updatedAt`
		    , `returnDate`
   		)
   		VALUES
   		(
   			#{userId}
   			, #{bookId}
   			, now()
   			, now()
   			, now()
   		)
   		
   
   </insert>
   <!-- 대출목록 -->
   <select id ="selectBorrowList" resultType="com.marondal.welibrary.book.model.BorrowBook" parameterType="map">
   	SELECT
   		`id`
   		, `userId`
   		, `bookId`
   		, `createdAt`
   		, `returnDate`
   	FROM
   		`borrow_book`
   	WHERE
   		`userId` = #{userId}
   	ORDER BY
  		`id` DESC;
   </select>
   
   <!-- 대출도서 갯수 -->
   <select id="selectBorrowBookNumberByuserId" resultType="com.marondal.welibrary.book.model.BorrowBookCount" parameterType="int">
   	SELECT
   		count(1)
   	FROM	
   		`borrow_book`
   	WHERE
   		`userId` = #{userId}
   </select>
   
   <!-- 반납 -->
   <delete id = "deleteBorrow" parameterType="map">
   	DELETE 
   	FROM
   		`borrow_book`
   	WHERE
   		`id`=#{id}
   		AND
   		`userId`=#{userId}
   
   </delete>
   <!-- 반납 연장 -->
   <update id ="updateBorrow" parameterType="map">
   
   
   
   </update>
   
   
   
   </mapper>