<?xml version="1.0" encoding="UTF-8"?>

 <!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
   <mapper namespace="com.marondal.welibrary.book.borrow.dao.BorrowDAO">
   
   <!-- 대여 -->
   <insert id ="insertBorrow" parameterType="map" >
   	INSERT INTO
   		`borrow_book`
   		(
   			`userId`
  			, `bookId`
  			, `createdAt` 
		    , `updatedAt`
		    , `returnDate`
   		)
   		VALUES
   		(
   			#{userId}
   			, #{bookId}
   			, now()
   			, now()
   			, date_add(now(),interval 14 DAY)
   		)
   		
   
   </insert>
   
   <!-- 대출 1행정보 -->
   <select id = "selectBorrow" resultType="com.marondal.welibrary.book.model.BorrowBook" parameterType="int">
   	SELECT	
   			`id`
   			, `userId`
  			, `bookId`
  			, `createdAt` 
		    , `updatedAt`
		    , `returnDate`
   	FROM
   		`borrow_book`
   	WHERE
   		`bookId` =#{bookId}
   
   </select>
   
   <!-- 대출목록 -->
   <select id ="selectBorrowList" resultType="com.marondal.welibrary.book.model.BorrowBook" parameterType="map">
   	SELECT
   		`id`
   		, `userId`
   		, `bookId`
   		, `createdAt`
   		, `returnDate`
   	FROM
   		`borrow_book`
   	WHERE
   		`userId` = #{userId}
   	ORDER BY
  		`id` DESC;
   </select>
   
   <!-- 대출도서 갯수 -->
   <select id="selectBorrowBookCount" resultType="int" parameterType="int">
   	SELECT
   		count(1)
   	FROM	
   		`borrow_book`
   	WHERE
   		`userId` = #{userId}
   </select>

   <!-- 대출도서 갯수 표시 -->
   <select id="selectBorrowBookNumberByUserId" resultType="com.marondal.welibrary.book.model.BorrowBookCount" parameterType="int">
   	SELECT
   		count(1)
   	FROM	
   		`borrow_book`
   	WHERE
   		`userId` = #{userId}
   </select>
   
   <!-- 반납 -->
   <delete id = "deleteBorrow" parameterType="map">
   	DELETE 
   	FROM
   		`borrow_book`
   	WHERE
   		`id`=#{id}

   </delete>
   
   <!-- 반납 연장 -->
   <update id ="updateBorrow" parameterType="map">
   	UPDATE
   		`borrow_book` 
   	SET
   		`returnDate` = DATE_ADD(`returnDate`, INTERVAL 1 WEEK)
   	WHERE
   		`userId` = #{userId}
   		AND
   		`id` = #{id}

   </update>
   
   <!-- 2024-03-17 대출이력 추가 -->
   <insert id ="insertBorrowHistory" parameterType="int">
    INSERT INTO
   	`borrow_history`
   		(
   			`userId`
  			, `bookId`
  			, `createdAt` 
  			, `borrowDate`
		    , `returnDate`
		    
   		)
   		VALUES
   		(
   			#{userId}
   			, #{bookId}
   			, now()
   			, now()
   			, date_add(now(),interval 14 DAY)
   		)
   		
   </insert>
   
   
   </mapper>