<?xml version="1.0" encoding="UTF-8"?>

 <!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
   <mapper namespace="com.marondal.welibrary.book.interibrary.dao.InteribraryDAO">
   
   	<insert id ="insertInteribrary" parameterType="map">
   		INSERT INTO
   		`interibrary_book`
   		(
   			`userId`
  			, `bookId`
  			, `receivelibrary`
  			, `createdAt` 
		    , `updatedAt`
   			, `returnDate`
   		
   		)
   		
   		VALUES(
   			#{userId}
   			, #{bookId}
   			, #{receivelibrary}
   			, now()
   			, now()
   			, date_add(now(),interval 14 DAY)
   		)
   		
   	
   	
   	</insert>
   	
   	<select id = "selectInteribraryList" resultType="com.marondal.welibrary.book.model.InteribraryBook" parameterType="int">
   		SELECT
   			`id`
   			,`userId`
  			, `bookId`
  			, `receivelibrary`
  			, `createdAt` 
   			, `returnDate`
   		FROM
   			`interibrary_book`
   		WHERE
   			`userId` = #{userId}
   		ORDER BY `id` DESC
   	</select>
   	
   	<!-- 상호대차 권수 -->
   	<select id="selectInteribraryBookCount" resultType="int" parameterType="int">
   		SELECT
   			count(1)
   		FROM
   			`interibrary_book`
   		WHERE
   			`userId` = #{userId}
   	
   	</select>
   	
   	
   	<!-- 상호대차 권수 표시 -->
   	
   	<!--대출 상태  -->
   	<select id = "selectBorrowByBookId" resultType="int" parameterType="int">
   		SELECT
   			count(1)
   		FROM
   			`borrow_book`
   		WHERE
   			`bookId` = #{bookId}
   	</select>
   
   <!--상호대차 여부  -->
   <select id = "selectInteribraryByBookId" resultType="int" parameterType="int">
   		SELECT
   			count(1)
   		FROM
   			`interibrary_book`
   		WHERE
   			`bookId` = #{bookId}
   </select>
   
   <!--상호대차 취소  -->
   <delete id="deleteInteribrary" parameterType="map">
   	DELETE
   	FROM
   		`interibrary_book`
   	WHERE
   		`id` = #{id}
   		AND
   		`userId` = #{userId}
   </delete>
   
   </mapper>