<?xml version="1.0" encoding="UTF-8"?>

 <!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.marondal.welibrary.book.reserve.dao.ReserveDAO">
  	
  <!-- 예약 -->
  <insert id ="insertReserve" parameterType="map">
  	INSERT INTO 
  		`reserve_book`
  		(
  			`userId`
  			, `bookId`
  			, `createdAt` 
		    , `updatedAt`
  		) 
  		VALUES
  		(
  			#{userId}
   			, #{bookId}
   			, now()
   			, now()	
  		
  		)
  </insert>
  
  <!-- 예약 목록 -->
  <select id ="selectReserveList" resultType="com.marondal.welibrary.book.model.ReserveBook" parameterType="int">
  	SELECT
  		`id`
   		, `userId`
   		, `bookId`
   		, `createdAt`
  	FROM
  		`reserve_book`
  	WHERE
  		`userId` = #{userId}
  	ORDER BY
  		`id` DESC;
  </select>
  	
  
  <!-- 예약 취소 -->
  <delete id="deleteReserve" parameterType="map">
  	DELETE
  	FROM
  		`reserve_book`
  	WHERE
  		`id`=#{id};
  
  </delete>
  
  <!-- 예약 권수 -->
  <select id ="selectReserveBookCount" resultType="com.marondal.welibrary.book.model.ReserveBookCount" parameterType="int">
  	SELECT
  		count(1)
  	FROM
  		`reserve_book`
  	WHERE
  		`userId`= #{userId};
  
  </select>
  
  <!-- 예약인원수 -->
  <select id = "selectReserveCount" resultType="int" parameterType="int">
  	SELECT	
  		count(1)
  	FROM
  		`reserve_book`
  	WHERE
  		`bookId` = #{bookId};
  
  </select>
  
  <!-- 대출상태 -->
  <select id = "selectBorrowByBookId" resultType="int" parameterType="int">
  	SELECT
  		count(1)
  	FROM
  		`borrow_book`
  	WHERE
  		`bookId` = #{bookId};
  
  </select>
  
  </mapper>