<?xml version="1.0" encoding="UTF-8"?>

 <!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.marondal.welibrary.user.dao.UserDAO">
  
  <insert id ="insertUser" parameterType="map">
  	INSERT INTO
  		`user`
  		(
  			`loginId`
		  	,`password` 
		  	, `name`
		    , `email` 
		    , `phoneNumber`
		    , `createdAt` 
		    , `updatedAt`
  		)
  	VALUES
  		(
  		 #{loginId}
  		 , #{password}
		 , #{name}
		 , #{email}
		 , #{phoneNumber}
		 , now()
		 , now()
		 
		 
  		)

  </insert>
  
  <!-- 중복아이디 확인(select) -->
  <select id ="selectCountloginId" parameterType="String" resultType="int">
  	SELECT
  		count(1)
  	FROM
  		`user`
  	WHERE
  		`loginId`=#{loginId}
  </select>
  
  
  <!-- 관리자 회원가입 -->
  <insert id="insertAdminUser" parameterType="map">
  		INSERT INTO
  		`user`
  		(
  			`loginId`
		  	,`password` 
		  	, `name`
		    , `email` 
		    , `phoneNumber`
		    , `isAdmin`
		    , `createdAt` 
		    , `updatedAt`
  		)
  	VALUES
  		(
  		 #{loginId}
  		 , #{password}
		 , #{name}
		 , #{email}
		 , #{phoneNumber}
		 , #{isAdmin}
		 , now()
		 , now()
		 
		 
  		)
  </insert>
  
  <!-- 관리자 회원가입 인증번호 일치 확인(select) -->
  <select id="selectcertificationNumber" parameterType="String" resultType="int">
  	SELECT
  		count(1)
  	FROM
  		`certificationnumber`
  	WHERE `certificationNumber`
  			= #{certificationNumber};
  
  
  </select>
  
  
  </mapper>