<?xml version="1.0" encoding="UTF-8"?>

 <!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
  <mapper namespace="com.marondal.welibrary.book.wishbook.dao.WishBookDAO">
  
  
  <!-- 희망도서 신청 -->
  <insert id="insertWishBook" parameterType="map">
  	INSERT INTO
  		`wish_book`
  		(
  			`userId`
  			, `library`
  			, `title`
  			, `imagePath`
  			, `author`
  			, `publisher`
  			, `price`
  			, `isbn`
  			, `pubyear`
  			, `createdAt` 
		    , `updatedAt`
  		)
  		
  		VALUES
  		(
  			#{userId}
  			, #{library}
  			, #{title}
  			, #{imagePath}
  			, #{author}
  			, #{publisher}
  			, #{price}
  			, #{isbn}
  			, #{pubyear}
  			, now()
			, now()
  		)
  	
  </insert>
  
  <!-- 희망도서 조회 -->
  <select id= "selectWishBookList"  resultType="com.marondal.welibrary.book.model.WishBook" parameterType="map">
  	SELECT
  		`userId`
  		, `library`
  		, `title`
  		, `author`
  		, `publisher`
  		, `isbn`
  		, `createdAt`
  		
  	FROM
  		`wish_book`
  	WHERE 
  		`userId` = #{userId}
  	
  	ORDER BY `id` DESC
  </select>
  
  <!-- 희망도서 추가 여부(book테이블에 추가되었는지 여부) -->
  <select id="selectBookByLibraryTitle"  parameterType="map" resultType="int">
  	SELECT
  		count(1)
  	FROM
  		`book`
  	WHERE 
  		`library`=#{library}
  		AND
  		`title` =#{title}
  
  </select>
  
  <!-- 유저별 희망도서 신청 갯수 세기 -->
  <select id="selectWishBookNumber" parameterType="map" resultType="int">
  	SELECT
  		count(1)
  	FROM
  		`wish_book`
  	WHERE
  		`userId` = #{userId}
  
  </select>
  
  <!-- 관리자 희망도서 추가 -->
  
  
  <!-- 관리자 희망도서 리스트 조회 -->
  <select id="selectWishBookListById" parameterType="int" resultType="com.marondal.welibrary.book.model.WishBook">
   SELECT
   			`userId`
  			, `library`
  			, `title`
  			, `imagePath`
  			, `author`
  			, `publisher`
  			, `price`
  			, `isbn`
  			, `pubyear`
  			, `createdAt` 
		    , `updatedAt`
  	FROM
  		`wish_book`
  	
  	ORDER BY
  		`id` DESC;
  </select>
  
	  <!-- 희망도서 도서 테이블에추가  -->
		  <insert id ="insertWishbookIntoBook" parameterType="map">
		  INSERT INTO
		  		`book`
		  		(
		  		`library`
	  			, `title`
	  			, `imagePath`
	  			, `author`
	  			, `publisher`
	  			, `price`
	  			, `isbn`
	  			, `pubyear`
		  		, `appendix`
		  		, `createdAt`
  				, `updatedAt`	
		  		)
		  VALUES
		  	(
		  	    #{library}
		  		, #{title}
		  		, #{imagePath}
		  		, #{author}
		  		, #{publisher}
		  		, #{price}
		  		, #{isbn}
		  		, #{pubyear}
		  		, #{appendix}
				, now()
 				, now()
		  	)
		  
		  </insert>
  </mapper>