@charset "UTF-8";


#wrap{
	width:1200px;
	
	margin: auto;
	
	
}

header{
	
	height:70px;
	background-color:#FFEBCD;
	
}

footer{
	
	height:70px;
	background-color:#FFEBCD;
}

.contents > .join-box{
	
	width:450px;


}

.contents > .login-box{
	
	width:350px;
	
	
}

