@charset "UTF-8";


#wrap{
	width:1200px;
	
	margin: auto;
	
	
}

header{
	
	height:70px;
	background-color:#FFEBCD;
	
}

footer{
	
	height:70px;
	background-color:#FFEBCD;
}

.contents > .join-box{
	
	width:450px;


}

.contents > .login-box{
	
	width:350px;
	
	
}

.contents > .main-page {
	
	width:1200px;
	
}

.main-profile{
	
	height:200px;
}

.main-profile > .img-box>.profile {
	width:100%;
	height:200px;
	object-fit: cover;
	margin : auto;
}
.main-profile >.main-text {
	padding: 10px 10px;
	position: absolute;
	left: 50%;
    transform: translate(-50%, -120%);

}

.sub-profile > .img-box> .profile {
	width:100%;
	height:200px;
	object-fit: cover;
	margin : auto;
}

.sub-profile >.sub-text {
	padding: 10px 10px;/*5px->10px*/
	position: absolute;
	left: 50%;
    transform: translate(-50%, -160%);

}


.main-nav{
	
	background-color: #4169E1;
}

.main-section{
	
	background-color:#ADD8E6;
}

.main-page > .main-contents{
	
	height:800px;
	
}

.main-contents > .main-login-box {
	
	height:220px;
	background-color: white;
	border-radius: 8px;
}

.main-login-box > .main-login-box-contents {
	
	height:220px;
	background-color:white;
	border-radius: 8px;
}

.mybook{
	
	background-color: #87CEEB;
	border-radius: 8px;
}

.main-page > .sub-contents{
	
	
	height:800px;
}

.sub-contents >.announce-box{
	
	background-color:white;
	border-radius: 8px;
}

.main-page > .sub-contents2{
	
	
	height:800px;
}

.table_box{
	border: 1px solid;
	
	border-radius: 8px;
	
}

.sub-section{
	
	background-color: #FFFFF0;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.userinfo-page{
	
	width:1200px;
	
}

.side-nav {
	
	background-color: 	#87CEEB;
	border-radius: 8px;
	height:550px;
	
}

.first-nav{
	/*background-color: #0000CD;*/
	
	
}




.user-box{
	height:300px;
	border: 3px dotted;
	border-color: #87CEEB;
}

.userinfo-box{
	height:450px;
	border: 3px dotted;
	border-color: #87CEEB;
}

.mybookinfo-page{
	
	width:1200px;
	
}
.side-nav2 {
	
	background-color: 	#87CEEB;
	border-radius: 8px;
	height:400px;
	
}

.item{
	
	background-color:	#D3D3D3;
	
}



.librarylist-page{
	width:1200px;
}

.wishbookcard{
	
	width:1000px;
	border: 1px solid;
	border-radius: 8px;
}

.searchbox{
	width:1000px;
	margin:auto;
}

.booksearch-nav{
	
	width:1000px;
	background-color: #4169E1;
	margin:auto;
}

.library-selectbox{
	
	width:1000px;
	margin:auto;
}

.bookcard-list{
	width:1000px;
	margin:auto;
}

.bookcard{
	width:900px;
	margin:auto;
}



.bookgimg-box >.book-profile{
	width: 150px;
	height: 150px;
}

.book-profile >.profile{
	width: 150px;
	height: 150px;
	object-fit: contain;  
}

.book-status{
	width:750px;
	background-color: #D3D3D3;
}



.librarybookinfo-page{
	width:1200px;
}
.bookinfo-box{
	width:900px;
	margin:auto;
	
}

.info-box{
	width:900px;
	margin:auto;
	
}

.bookinfo-box >.bookinfo-profile{
	width:120px;
  	height:120px;
}
.bookinfo-profile>.profile{
	
	width:120px;
  	height:120px;
  	object-fit: contain;  
  	
}


.possessioninfo-box{
	width:900px;
	margin:auto;
	
}

