@charset "UTF-8";


#wrap{
	width:1200px;
	
	margin: auto;
	
	
}

header{
	
	height:70px;
	background-color:#FFEBCD;
	
}

footer{
	
	height:70px;
	background-color:#FFEBCD;
}

.contents > .join-box{
	
	width:450px;


}

.contents > .login-box{
	
	width:350px;
	
	
}

.contents > .main-page {
	
	width:1200px;
	
}

.main-nav{
	
	background-color: #4169E1;
}

.main-section{
	
	background-color:#ADD8E6;
}

.main-page > .main-contents{
	
	height:800px;
	
}

.main-contents > .main-login-box {
	
	height:220px;
	background-color: white;
	border-radius: 8px;
}

.main-login-box > .main-login-box-contents {
	
	height:220px;
	background-color:white;
	border-radius: 8px;
}

.mybook{
	
	background-color: #87CEEB;
	border-radius: 8px;
}

.main-page > .sub-contents{
	
	
	height:800px;
}

.sub-contents >.announce-box{
	
	background-color:white;
	border-radius: 8px;
}

.main-page > .sub-contents2{
	
	
	height:800px;
}

.userinfo-page{
	
	width:1000px;
}


